singularityDir = "./singularity"
 
 
singularity {
    enabled = true
    autoMounts = true
    cacheDir = singularityDir
}
 

//Profile config names for nf-core/configs

params {
    // Config Params
    config_profile_description = 'Albert Einstein College of Medicine - HPC Profile -- provided by nf-core/configs.'
    
    // Resources
    max_memory = 350.GB
    max_cpus = 50
    max_time = 1000.h
}

process {
            executor = 'slurm'
            queueSize = 200
            
            // Update amount of max retries and set "retry" as the error strategy for all error codes
            errorStrategy = 'retry'
            maxRetries = 5
            maxErrors = '-1'


            // General resource requirements
            queue  = { 4 * task.attempt  > 8 ? 'unlimited' : 'normal' }
            cpus   = { 1	* task.attempt }
            memory = { 6.GB	* task.attempt }  
            time   = { 4.h	* task.attempt } 

            // Process-specific resource requirements
            withLabel:process_single {
                cpus   = 1
                memory = { 6.GB	* task.attempt }
                time   = { 4.h	* task.attempt }
            }

            withLabel:process_low {
            	queue  = 'normal'
                cpus   = { 2	 * task.attempt }
                memory = { 12.GB * task.attempt }
                time   = { 2 * task.attempt  > 8 ? 8.h : 2.h * task.attempt }
            }

            withLabel:process_medium { 
                // TARGET QUEUE: medium
                queue = 'unlimited'
                cpus   = { 9	 * task.attempt }
                memory = { 36.GB * task.attempt }
                time   = { 9.h	 * task.attempt }
            }

            withLabel:process_high {
                // TARGET QUEUE: medium
                queue = 'unlimited'
                cpus   = { 12	 * task.attempt }
                memory = { 72.GB * task.attempt }
                time   = { 14.h	 * task.attempt }
            }

            withLabel:process_long {
                // TARGET QUEUE: medium
                queue  = 'unlimited'
                cpus   = 9
                memory = 96.GB
                time   = { 14.h	 * task.attempt }
            }

            withLabel:process_high_memory {
                // TARGET QUEUE: medium or largemem based on memory
                queue = { 200 * task.attempt < 921 ? 'unlimited' : 'large-mem' }
                cpus   = { 10	  * task.attempt }
                memory = { 200.GB * task.attempt }
                time   = { 12.h	  * task.attempt }
            }
        }